{% extends 'testApp/base/base.html'%}

{% load static %}

{% block title %}{{selected.title}}{% endblock %}

{% block site_css %} <link rel="stylesheet" href="{% static 'testApp/styles/selectedShit.css' %}">{% endblock %}

{% block main_heading %}{{selected.title}}{% endblock %}

{% block body %}

     <article>
            <img src="" alt="">

            <section id="location">
                <h2>Watchu Want fam?</h2>
                <address>You are here <span>LOCATION</span> Address</address>
            </section>

            <section id="details">
                <h2>Here is the deeds</h2>
                <p>{{selected.description}}</p>
                <footer>
                    <p>Need even more info??? Contact <a href="#">Joe Mama</a></p>
                </footer>
            </section>

            <section id="registration">
                <h2>Piss Off</h2>
                LOl
            </section>
        </article>

{% endblock %}
