{% extends 'testApp/base/base.html'%}

{% load static %}

{% block title %}{{selected.title}}{% endblock %}

{% block site_css %} <link rel="stylesheet" href="{% static 'testApp/styles/selectedShit.css' %}">{% endblock %}

{% block main_heading %}{{selected.title}}{% endblock %}

{% block body %}

    {% if meetE %}
        <article>
            <img id="main-image" src="{{selected.image.url}}" alt="{{selected.title}}">

            <section id="location">
                <h2>Watchu Want fam?</h2>
                <address>You are here <span>{{image.ass.name}}</span> {{image.ass.address}}</address>
            </section>

            <section id="details">
                <h2>Here is the deeds</h2>
                <p>{{selected.description}}</p>
                <footer>
                    <p>Need even more info??? Contact <a href="#">Joe Mama</a></p>
                </footer>
            </section>

            <section id="registration">
                <h2>Piss Off</h2>
                <form>
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                    <div id="registration-actions">
                        <button>Register</button>
                    </div>
                </form>
            </section>
        </article>
    {% else %}
        <p>Bruh</p>
    {% endif %}


{% endblock %}
