{% extends 'testApp/base/base.html'%}

{% load static %}

{% block title %}All Shit{% endblock %}

{% block site_css %}<link rel="stylesheet" href="{% static 'testApp/styles/allShit.css' %}"> {% endblock %}

{% block main_heading %}Random Course{% endblock %}

{% block header %}<p>Great Shit Coming UP!<p>{% endblock %}

{% block body %}
    <h2>LIST</h2>
        <ol>
            {% for randomI in randoms %}
                {% include 'testApp/includes/listSHit.html' with title=randomI.title location=randomI.location slug=randomI.slug %}
            {% endfor%}
        </ol>
{% endblock %}
